[user]
	name = pyy
	email = 45996894+pang-yy@users.noreply.github.com
[init]
	defaultbranch = main
[color]
	ui = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
